.cover__link {
    position: relative;
    background-image: url(../../../image/cover-trains.jpg);
    background-size: cover;
    margin: 0;
    width: 100%;
    min-height: 740px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    color: white;
    z-index: 1;
}

.cover__link::before{
    content: '';
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
    background: black;
    background-size: cover;
    opacity: 0.3;
    z-index: -1;
}

.cover__link:hover::before{
    opacity: 0.8;
    transition: .8s;
}


@media screen and (max-width: 1279px) {
    .cover__link{
        min-height: 740px;
    }
}

@media screen and (max-width: 1023px) {
    .cover__link{
        min-height: 640px;
    }
}

@media  screen and (max-width: 768px) {
    .cover__link{
        min-height: 480px;
    }
}

@media screen and (max-width: 319px) {
    .cover__link{
        max-height: 200px;
    }
}
