.place {
    display: grid;
    grid-template-columns: fit-content(460px) minmax(min-content, max-content);
    grid-template-rows: max-content max-content;
    align-items: start;
    gap: 40px 48px;
    width: 100%;
    margin-top: 80px;
}


@media screen and (max-width: 1279px) {
    .place {
        grid-template-columns: fit-content(440px) minmax(min-content, max-content);
        column-gap: 32px;
    }
}

@media screen and (max-width: 1023px) {
    .place {
        grid-template-columns: fit-content(340px) minmax(min-content, max-content);
        column-gap: 28px;
        margin-top: 73px;
    }
}

@media screen and (max-width: 767px) {
    .place {
        grid-template-columns: 100%;
        row-gap: 32px;
        margin-top: 50px;
    }
}

.place:first-of-type {
    margin-top: 0;
}